[Unit]
Description=Alarm Monitor of Doberman slow control. Checks for unacknowledged alarms and distributes      messages
After=network.target remote-fs.target

[Service]
Type=simple
Restart=on-failure
User=doberman
Environment=DOBERMAN_MONGO_URI=
Environment=DOBERMAN_EXPERIMENT_NAME=
ExecStart=/usr/bin/python3 /software/Doberman/Doberman/Monitor.py --alarm

[Install]
WantedBy=multi-user.target
